@charset "UTF-8";

/* CSS Reset*/
*{
	font-family: Arial, Tahoma, Verdana;
	font-size:14px;
	margin:0;
	padding:0;
	font-weight:normal;
	position: relative;
}

a{
	color:#000;
	text-decoration:none;
}

a:hover{
	text-decoration: underline;
}

ul, ol{
	list-style:none;
}

body, html{
	background:#f0f0f5;
}

a img{
	border: none;
}
/* Fim CSS reset */

.boxLoginPrincipal{
	height:auto;
	width: 500px;
	margin: 150px auto;
	background: #eee;	
	border:2px solid #666;
}

.boxMenuLogin{
	height:40px;
	width: 500px;	
	background: #555582;
	border-bottom: 2px solid #aaa;	
}

.boxMenuLogin li{	
	float: left;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.boxMenuLogin li a{
	color: #FFFFFF;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 0px 1px 0px #000;
}

.boxLoginPrincipal h2{
	font-size:20px;
	font-weight: bold;
	text-align: center;
	color: #666;
	margin-top: 20px;
	text-decoration: underline;	
}

.boxLogin{
	height:auto;
	width: 200px;
	margin: 50px auto;	
	margin-top: 15px;	
}

.boxLogin p{
	font-size: 16px;
	font-weight: bold;
	color: #666;	
}

.botao{
	font-weight: bold;
	color: #666;	
	margin-top: 5px;	
}

#esqueci{
	padding-top: 15px;
	display: block;
	align-self: center;
	float: none;
}

#esqueci a{	
    color: #666;
    font-size: 14px;
    text-shadow: none;
    font-weight: bold	
}

#naoEncontrado{
	color: #ff0000;
	font-size: 14px;
}

#boxCadastroUsuario{
	width: 290px;
	margin: 10px auto;	
}

#pajuda{		
	font-weight:normal;
	text-align: justify;
	display:block;
	width: 350px;
	margin-left: -70px;	
		
}

#pajuda span{
	color: #3366ff;
	font-size: 16px;
}

#boxAjuda{
	width: 350px;	
	margin: 30px auto;
}

#cadastroUsuario{
	disply: block;
	width: 300px;
    margin-left: -35px;	
}

/* ######################################## PAINEL DE CONTROLE ################################################ */
.painelPrincipal{
	height: auto;	
	background:#f0f0f5;
	height: auto;
	width: auto;
}

.parteSuperior{
	height: 50px;	
	background: #555582;
}

.parteSuperior p, a{
	display: block;
	float: left;	
	text-shadow: 0px 1px 0px #000;	
}

.parteSuperior p{	
	font-size: 1.25vw;
	font-weight: bold;
	color: #FFF;
	margin-top: 10px;
	margin-left: 30px;		
}

.parteSuperior a{
	font-size: 1.25vw;
	color: #FFF;
	font-weight: bold;
	margin-top: 13px;
	float: right;	
	margin-right: 30px;
	
}

.menu{
	height: 34px;	
	background: #555;
}

.menu li a{	
	display: block;
	padding: 0px 10px 7px 0px;			
}

.menu li a:hover{	
	background: #b3b3cb;
	text-decoration: none;	
	border-bottom: 2px solid #ffbf00
}

.menu li{	
	float:left;		
	height: auto;		
}

.menu li:first-child{
	margin-left: 30px;
}

.menu li img{
	height: 14px;
	width: 14px;
	margin-top:8px;
	margin-left: 10px;
}

.menu li a span{	
	margin-left: 5px;	
	font-weight: bold;
	font-size: 0.75vw;
	color: #FFF;
	text-shadow: 0px 1px 0px #000;	
}

.conteudoInferior{
	height: auto;
	width: auto;	
	margin: 30px 60px 30px 60px;	
}

.conteudoInferior h2{
	color: #2a2a8c;
	font-size: 20px;	
	margin-bottom: 20px;
	font-weight: bold;
	text-decoration: underline;
	
}

.conteudoInferior h3{
	color: #2a2a8c;
	font-size: 22px;
	margin-bottom: 20px;
	text-decoration: underline;
	margin-top: 45px;
	
}

.conteudoInferior h4{
	color: #2a2a8c;
	font-size: 20px;
	margin-bottom: 20px;
	text-decoration: underline;
	margin-top: 25px;
	
}

.conteudoInferior h5{
	color: #2a2a8c;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
	text-decoration: underline;
	margin-top: 20px;
	
}

.conteudoInferior p{
	color: #333;
	font-size: 16px;
}

.conteudoInferior p span{	
	font-size: 17px;
	font-weight: bold;
	color: #2a2a8c;
}

#cadastroPaciente p{
	color: #333;
	font-size: 20px;
	margin-top: 10px;
	margin-right: 10px;
}

#spanEmail{	
	font-size: 18px;
	color: #28a5d8;
	font-weight: bold;	
}

#listaHome li{
	color: #333;
	font-size: 18px;
	margin-top: 10px;
}

#listaHome span{
	color: #333;
	font-size: 20px;
	font-weight: bold;
}


.botaoPac{
	font-weight: bold;
	width: 200px;
	height: 30px;
	font-weight: bold;	
}

.campoPac{
	font-weight: bold;
	font-size: 16px;	
	color: #333;
}

.valorPac{
	font-size: 14px;
	color: #333;
}

.imgDialog {
	max-width:450px;
	max-height:450px;	
}

#linkPacAntigo{	
	float: none;
	text-shadow: none;
	display: inline;
	font-size: 18px;
	color: #28a5d8;
	font-weight: bold;
}

#funcionalidadesP{
	color: #2a2a8c;
	font-size: 17px;
}

#linkEditarPaciente{
	float: none;
	text-shadow: none;
	display: inline;
	font-size: 30px;
	color: #0066ff;	
}

.ui-panel .ui-panel-title{
    font-size: 16px;
    font-weight: bold	
}

.panelGridHome {
	margin-top: 20px;
	margin-bottom: 20px;
}

.panelGridHome img{
	height: 50px;
	width: 50px;
	margin-right: 20px;
}

#rememberme{
	height: 20px;
	width: 20px;
	margin-left: 10px;
}


#rememberme:hover{
	cursor: pointer;
}

#pacCadastradoModal{
	font-size: 10px;
}


