@charset "UTF-8";

/* CSS Reset*/
*{
	font-family: Arial, Tahoma, Verdana;
	font-size:14px;
	margin:0;
	padding:0;
	font-weight:normal;
	position: relative;
}

a{
	color:#000;
	text-decoration:none;
}

a:hover{
	text-decoration: underline;
}

ul, ol{
	list-style:none;
}

body, html{
	background:#f0f0f5;
}

a img{
	border: none;
}
/* Fim CSS reset */

.boxLoginPrincipal{
	height:auto;
	width: 500px;
	margin: 150px auto;
	background: #eee;	
	border:2px solid #666;
}

.boxMenuLogin{
	height:40px;
	width: 500px;	
	background: #48486a;
	border-bottom: 2px solid #aaa;	
}

.boxMenuLogin li{	
	float: left;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.boxMenuLogin li a{
	color: #FFFFFF;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 0px 1px 0px #000;
}

.boxLoginPrincipal h2{
	font-size:20px;
	font-weight: bold;
	text-align: center;
	color: #666;
	margin-top: 20px;
	text-decoration: underline;	
}

.boxLogin{
	height:auto;
	width: 200px;
	margin: 50px auto;		
}

.boxLogin p{
	font-size: 16px;
	font-weight: bold;
	color: #666;	
}

.botao{
	font-weight: bold;
	color: #666;	
	margin-top: 5px;	
}

#esqueci{
	padding-top: 10px
}

#esqueci a{
	color: #666;
	font-size: 14px;
}

#naoEncontrado{
	color: #ff0000;
	font-size: 14px;
}

#boxCadastroUsuario{
	width: 290px;
	margin: 10px auto;	
}

#pajuda{
	font-weight:normal;
	text-align: justify;
}

#pajuda span{
	color: #3366ff;
	font-size: 16px;
}

#boxAjuda{
	width: 350px;	
	margin: 30px auto;
}

/* ######################################## PAINEL DE CONTROLE ################################################ */
.painelPrincipal{
	height: auto;	
	background:#f0f0f5;
	height: auto;
	width: auto;
}

.parteSuperior{
	height: 50px;	
	background: #48486a;
}

.parteSuperior p, a{
	display: block;
	float: left;	
	text-shadow: 0px 1px 0px #000;	
}

.parteSuperior p{	
	font-size: 25px;
	font-weight: bold;
	color: #FFF;
	margin-top: 10px;
	margin-left: 30px;		
}

.parteSuperior a{
	font-size: 20px;
	color: #FFF;
	font-weight: bold;
	margin-top: 13px;
	float: right;	
	margin-right: 30px;
	
}

.menu{
	height: 34px;	
	background: #555;
}

.menu li a{	
	display: block;
	padding: 0px 10px 7px 0px;			
}

.menu li a:hover{	
	background: #b3b3cb;
	text-decoration: none;	
}

.menu li{	
	float:left;				
}

.menu li:first-child{
	margin-left: 30px;
}

.menu li img{
	height: 18px;
	width: 18px;
	margin-top:5px;
}

.menu li a span{	
	margin-left: 5px;	
	font-weight: bold;
	font-size: 16px;
	color: #FFF;
	text-shadow: 0px 1px 0px #000;	
}

.conteudoInferior{
	height: auto;
	width: auto;	
	margin: 30px 60px 30px 60px;	
}

.conteudoInferior h2{
	color: #333;
	font-size: 25px;
	text-decoration: underline;
	margin-bottom: 25px;
	
}

.conteudoInferior p{
	color: #333;
	font-size: 20px;
}

#cadastroPaciente p{
	color: #333;
	font-size: 20px;
	margin-top: 10px;
	margin-right: 10px;
}

#spanEmail{
	color: #0066ff;
	font-size: 18px;
}

#listaHome li{
	color: #333;
	font-size: 18px;
	margin-top: 10px;
}

#listaHome span{
	color: #333;
	font-size: 20px;
	font-weight: bold;
}
